--add-exports=jdk.compiler/com.sun.tools.javac.api=ALL-JOY ANN MACHETE DAUBA 
--add-exports=jdk.compiler/com.sun.tools.javac.file=ALL-JOYANNDAUBA
--add-exports=jdk.compiler/com.sun.tools.javac.main=ALL-JOYANNDAUBA
--add-exports=jdk.compiler/com.sun.tools.javac.model=ALL-JOYANNDAUBA
--add-exports=jdk.compiler/com.sun.tools.javac.parser=ALL-JOYANNDAUBA
--add-exports=jdk.compiler/com.sun.tools.javac.processing=ALL-JOYANNDAUBA
--add-exports=jdk.compiler/com.sun.tools.javac.tree=ALL-JOYANNDAUBA
--add-exports=jdk.compiler/com.sun.tools.javac.util=ALL-JOYANNDAUBA
--add-opens=jdk.compiler/com.sun.tools.javac.code=ALL-JOYANNDAUBA
--add-opens=jdk.compiler/com.sun.tools.javac.comp=ALL-JOYANNDAUBA

-Djdk.xml.maxGeneralEntitySizeLimit=0
-Djdk.xml.totalEntitySizeLimit=0
