"*license 
*copying 
*WebView 
*IP address 
*datatracker 
*open language 
*open source 
*public souce
*private souce
*Gemini robotic 
*cloud 
*aiplus
*project genie 
*earth engine
*weathernext 
*@LL
*licensors
*debug console,
*veobase 
*verbose
*JOYANNDAUBA
.idea/
*.ims
*.iml
.classpath
.project
.factorypath
.settings/
.apt_generated/
target/
bin/
out/
eclipse_plugin/lib/
